body {
  background-color: #1f2525;
  font-family: 'Roboto', sans-serif;
  color: #ddd;
}

#boards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.relative-pos {
  position: relative;
}

.board-title {
  position: absolute;
  top: -2em;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 2em;
}

.board-container {
  background-color: black;
  border: 3px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.board {
  display: grid;
  grid: repeat(10, 1fr) / repeat(10, 1fr);
}

.tile {
  background-color: #394652;
  width: 50px;
  height: 50px;
  border-right: 1px black solid;
  border-bottom: 1px black solid;
}

.tile:nth-child(10n) {
  border-right: none;
}

tile:nth-child(n + 91) {
  border-bottom: none;
}

.tile:hover {
  opacity: 0.6;
}

.preview {
  opacity: 0.6;
}

.ship-tile {
  background-image: url('../assets/ship.png');
  background-size: cover;
}

@keyframes tile-update {
  0% { background-color: #ddd; opacity: 1; }
  25% { background-color: #b4b7ba; opacity: 1; }
  50% { background-color: #8b9197; opacity: 1; }
  75% { background-color: #626c75; opacity: 1; }
  100% { background-color: #394652; opacity: 1; }
}

.miss {
  background-image: url('../assets/wave.png');
  background-size: cover;
  animation: tile-update 0.5s linear;
}

.hit {
  background-image: url('../assets/x.png');
  background-size: cover;
  animation: tile-update 0.5s linear;
}

.sink {
  background-image: url('../assets/skull.png');
  background-size: cover;
  animation: tile-update 0.5s linear;
}

#rotate {
  margin-top: 1em;
}

#reset {
  position: absolute;
  bottom: -3em;
  left: 50%;
  transform: translate(-50%, 0);
}

.no-display {
  display: none;
}
